body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EDE3E9;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background-color: #EBC3DB;
  box-shadow:4px 4px rgba(0, 0, 0, 0.7),
  -4px -4px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

h1 {
  text-align: center;
  font-size: 300%;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #9F84BD;


}

.question {
  font-weight: bold;
  text-align: center;
  align-items: center;
  font-size: xx-large;
  width: 100%;
  margin-top: 3%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
  border: 3px solid black;
  margin: 1%;
  font-size: x-large;
}

.option img {
  margin: 1%;
  width: 75px;
  height: 75px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #C09BD8;
  color: #fff;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #9F84BD;
}
#submit.button {
  color: black;
  font-size: xx-large;

}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #9F84BD;
  border-radius: 20px;
  border: 3px solid black;
}

@media (max-width: 480px) {
}

.option img {
  height: 15rem;
  width: 15rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.option {
  width: 90%;
  height: 23rem;
}
